alias ls='ls --color=auto'
alias dch='dch --distributor=debian'
alias debuild='debuild --no-tgz-check --no-lintian'
alias ack='ack-grep'
alias decodeurl='python -c "import sys, urllib as ul; print ul.unquote(sys.stdin.read());"'
alias gti="git"
alias change="git cam 'changelog updated'"
alias githome="git config --global user.email 'alexrybakov@yandex.ru' && git config --get user.email"
alias gitwork="git config --global user.email 'flack@yandex-team.ru' && git config --get user.email"

# Reload .bashrc
alias refresh='. ~/.bashrc'
